.DS_Store
.vscode
/data/AFLW
/data/AFLW_train_data
/data/AFLW_validation_data
/data/Mirror98.txt
/data/Original_SetPreparation.py
/data/Preparation.py
/data/SetPreparation.py
__pycache__/
/output
/checkpoint
/Microsoft-Final-Project-Introduction-0520.pdf
/validation_all.py
/results
train_shuffle.py
camera.py
models/shuffleNet.py

